.noImage {
  display: block;
  padding: auto;
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.textarea {
  width: calc(100% - 40px);
  height: 160px;
  margin-top: 20px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  outline: 0;
  resize: none;
};